[submodule "voice-agent/backend/ai4bharat-nemo"]
	path = voice-agent/backend/ai4bharat-nemo
	url = https://github.com/AI4Bharat/NeMo.git
	branch = nemo-v2
[submodule "voice-agent/backend/scripts/F5-TTS-ONNX"]
	path = voice-agent/backend/scripts/F5-TTS-ONNX
	url = https://github.com/DakeQQ/F5-TTS-ONNX.git
[submodule "voice-agent/backend/models/stt/indic-seamless"]
	path = voice-agent/backend/models/stt/indic-seamless
	url = git@hf.co:ai4bharat/indic-seamless
[submodule "voice-agent/backend/models/stt/indicconformer"]
	path = voice-agent/backend/models/stt/indicconformer
	url = git@hf.co:ai4bharat/indic-conformer-600m-multilingual
[submodule "voice-agent/backend/models/tts/IndicF5"]
	path = voice-agent/backend/models/tts/IndicF5
	url = git@hf.co:ai4bharat/IndicF5
[submodule "voice-agent/backend/models/translation/indictrans2-en-indic"]
	path = voice-agent/backend/models/translation/indictrans2-en-indic
	url = git@hf.co:ai4bharat/indictrans2-en-indic-dist-200M
[submodule "voice-agent/backend/models/translation/indictrans2-indic-en"]
	path = voice-agent/backend/models/translation/indictrans2-indic-en
	url = git@hf.co:ai4bharat/indictrans2-indic-en-dist-200M
